/* *{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Permanent Marker', cursive;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: rgb(9, 9, 65);
  }
  .card {
    margin: 3px;
    margin: 20px;
     -webkit-box-shadow: 1px 1px 3px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow:    1px 1px 3px 4px #ccc;  /* Firefox 3.5 - 3.6 */
     box-shadow:         1px 1px 3px 4px rgb(177, 175, 175);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

   h1{
       margin: 0 auto;
       margin-top: 3px;
       padding: 3px;
       width: 80%;
       height: 40%;
       border-radius: 16px;
       background-color: whitesmoke;
       color: rgb(9, 9, 65);
       font-weight: bold;
       font-family: 'Dela Gothic One', cursive;
       text-align: center;
     -webkit-box-shadow: 1px 1px 3px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow:    1px 1px 3px 4px #ccc;  /* Firefox 3.5 - 3.6 */
     box-shadow:         1px 1px 3px 4px rgb(177, 175, 175);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
   }

.card-title{
    font-family: 'Dela Gothic One', cursive;
    text-align: justify;
}
.card-text{
    text-align: justify;
}
h4{
    font-family: 'Permanent Marker', cursive;

}
.card-img{
    height: 100%;
    /* border-radius: 4px; */
}

.card-img:hover {
    opacity: 0.9;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }


